[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_470039000550534E4E313120-if00
#canbus_uuid: 0ad1ade02795


##################################################################### 
# 	Accelerometer
#####################################################################

[adxl345]
cs_pin: rpi:None


##################################################################### 
# 	Extruder
#####################################################################
[thermistor Trianglelab NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#	E0 on MOTOR6
[extruder]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 21.22863 #21.99858257 #22.6789511	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
##	Validate the following thermistor type to make sure it is correct

##################################################################### 
# 	Hot End
#####################################################################

# ///// REVO //////
#sensor_type: ATC Semitec 104NT-4-R025H42G 
#sensor_pin: PF4 
#pid_Kp=38.739 
#pid_Ki=5.614 
#pid_Kd=66.824

# ///// DRAGON //////
sensor_type: Trianglelab NTC100K B3950 #Generic 3950
sensor_pin: PF4 
pid_Kp=29.812
pid_Ki=1.930
pid_Kd=115.149


# ///// DRAGON PT100 //////
#sensor_type: MAX31865 #Dragon PT100
#sensor_pin: PF8 #Dragon PT100
#spi_software_sclk_pin: PA5 #Dragon PT100
#spi_software_mosi_pin: PA7 #Dragon PT100
#spi_software_miso_pin: PA6 #Dragon PT100
#rtd_nominal_r: 100 #Dragon PT100
#rtd_num_of_wires: 2 #Dragon PT100
#rtd_reference_r: 430 #Dragon PT100
#rtd_use_50Hz_filter: True #Dragon PT100

min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170 #170
control = pid #PID run at 250c

pressure_advance: 0 #0.12145
pressure_advance_smooth_time: 0.040

##	E0 on MOTOR6
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PE1
interpolate: false
run_current: 0.7
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Klicky
pin: ^PG11 #~PC5 #~PG11 #~PC5
x_offset: 0
y_offset: 25.0
z_offset: 5.0 #6.42 #7
speed: 10.0 #7.5 #5 #10.0
lift_speed: 30.0
samples: 5
samples_result: median
sample_retract_dist: 0.8 #3.0
samples_tolerance: 0.007 #0.006
samples_tolerance_retries: 30 #5

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PA8
kick_start_time: 0.5
max_power: 1.0
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.1

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

#####################################################################
# 	LED Control
#####################################################################

[neopixel toolhead]
pin: PB6
chain_count: 3
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 1.0

[neopixel lights]
pin: PB0
chain_count: 12
color_order: BRG
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0 # 1.0
initial_GREEN: 0 # 0.7
initial_BLUE: 0 # 0.2
#initial_WHITE: 0.2