#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: can:LIMIT_X #PG6 #!PG6

position_endstop: 302
position_min: 0
position_max: 302

##--------------------------------------------------------------------
homing_speed: 70   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi1
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5
interpolate: true
run_current: 0.85 #0.75 #0.875 #0.45
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: PG1 
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9 #!PG9
position_min: 0

position_endstop: 302
position_max: 302

##--------------------------------------------------------------------
homing_speed: 70  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PD11
spi_bus: spi1
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5
interpolate: true
run_current: 0.85 #0.75 #0.875 #0.45
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#TAP endstop_pin: PG10
endstop_pin: probe:z_virtual_endstop
#TAP position_endstop: 1.0
position_max: 290 #282 TAP

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 5

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z]
#uart_pin: PC6
cs_pin: PC6
spi_bus: spi1
interpolate: true
run_current: 0.8
#hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on MOTOR3 
#DRIVER 3
[stepper_z1] 
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z1]
cs_pin: PC7
spi_bus: spi1
interpolate: true
run_current: 0.8
#hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0 

##	Z2 Stepper - Rear Right on MOTOR4
#DRIVER 4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z2]
cs_pin: PF2
spi_bus: spi1
interpolate: true
run_current: 0.8
#hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on MOTOR5
#DRIVER 5
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40 
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z3]
cs_pin: PE4
spi_bus: spi1
interpolate: true
run_current: 0.8
#hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0
