[mcu can]
canbus_uuid: 7a5682922d89 #c9f4ae84c7d3 

## BOARD PINS
[board_pins FLY_SHT36_PRO_V1] 
mcu: can
aliases:
aliases_step:
    EXT_EN=gpio25,EXT_STEP=gpio23,EXT_DIR=gpio24,EXT_UART=gpio20,EXT_DIAG=gpio22
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_Z=gpio3,LIMIT_X=gpio2
#aliases_bltouch: # these are the dupont connectors for bltouch
#    PROBE_1=gpio3,PROBE_2=gpio7
aliases_fans:
    HEF=gpio14,PCF=gpio15
aliases_thermistors:
    TH0=gpio26,TH1=gpio27,PT100_CS=gpio1
aliases_heaters:
    HE0=gpio8
aliases_rgb:
    RGBLED=gpio6
aliases_adxl:
    ADXL_CS=gpio9
aliases_encoder:
    ENC_CS=gpio17
aliases_spi:
    SPI1_SCLK=gpio10,SPI1_MISO=gpio12,SPI1_MOSI=gpio11
#aliases_i2c:
#    AUX0=PB3,AUX1=PB4
[duplicate_pin_override]
pins: 
    gpio10, gpio11, gpio12
    
    
[extruder]
#Standard config
step_pin: can:EXT_STEP
dir_pin: can:EXT_DIR
enable_pin: !can:EXT_EN

#PT1000 config
sensor_type: PT1000
sensor_pin: can:TH0
pullup_resistor: 1000
#step_pulse_duration: 0.000004

#PT100 config
#sensor_type: MAX31865
#sensor_pin: can:PT100_CS
#spi_software_sclk_pin: can:SPI1_SCLK       
#spi_software_mosi_pin: can:SPI1_MOSI
#spi_software_miso_pin: can:SPI1_MISO
#rtd_reference_r: 430

[tmc5160 extruder]                  
cs_pin: can:EXT_UART              
spi_software_sclk_pin: can:SPI1_SCLK       
spi_software_mosi_pin: can:SPI1_MOSI
spi_software_miso_pin: can:SPI1_MISO
interpolate: False                  
run_current: 0.8                    
sense_resistor: 0.075               
stealthchop_threshold: 0 #500

[temperature_sensor TH_Chamber]           
sensor_type: ATC Semitec 104GT-2  
sensor_pin: can:TH1          
min_temp: 0                      
max_temp: 490        

# [angle my_angle_sensor]
# sensor_type: as5047d
# #sample_period: 0.000400
# stepper: stepper_x
# cs_pin: can:ENC_CS
# spi_bus: spi1
# #spi_software_sclk_pin: can:SPI1_SCLK
# #spi_software_mosi_pin: can:SPI1_MOSI
# #spi_software_miso_pin: can:SPI1_MISO