[mcu can]
canbus_uuid: 34f4eada9729 #72176be57356

## BOARD PINS
[board_pins EBB36_G0B1_v1.1] 
mcu: can
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_Z=PB3,LIMIT_X=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    HEF=PA0,PCF=PA1
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PA2
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12
aliases_i2c:
    AUX0=PB3,AUX1=PB4
aliases_spi:
    SPI1_SCLK=gpio10,SPI1_MISO=gpio12,SPI1_MOSI=gpio11

[extruder]
step_pin: can:EXT_STEP
dir_pin: !can:EXT_DIR
enable_pin: !can:EXT_EN

#Standard config
#sensor_pin: can:TH0
#sensor_type: ATC Semitec 104NT-4-R025H42G 

#PT1000 config
sensor_type: MAX31865
sensor_pin: can:PT100_CS
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: can:EXT_UART
interpolate: false
run_current: 0.6
#hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999