[board_pins pitb]
mcu: pitb
aliases:
    ## Board enable LED
    LED_RUN=gpio15,

    ## Can pins. STANDBY can be pulled low if you're running USB to disable the transceiver
    ## https://www.nxp.com/docs/en/data-sheet/TJA1040.pdf page 4
    CAN_TX=gpio8, CAN_RX=gpio9, CAN_STANDBY=gpio25,

    ## SPI for motors. spi_bus: spi0a
    MISO=gpio4, MOSI=gpio3, SCLK=gpio2,

    ## Stepper pins
    MOT1_EN=gpio20, MOT1_CS=gpio1,  MOT1_DIR=gpio5,  MOT1_STEP=gpio6, MOT1_DIAG=gpio7, 
    MOT2_EN=gpio22, MOT2_CS=gpio21, MOT2_DIR=gpio23, MOT2_STEP=gpio13, MOT2_DIAG=gpio14, 

    ## Endstop pins, or DIAG with jumpers
    ENDSTOP_X=gpio16, ENDSTOP_Y=gpio17,

    ## Other IO
    FAN0=gpio0, FAN1=gpio18, 
    THERM0=gpio26, THERM1=gpio27, THERM2=gpio28,
    RGB=gpio19,